    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/health.jpeg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Confirmación de Pago</h2>
                        <div class="breadcrumb__option">
                            <a href="Farmacia">Farmacia</a>
                            <span>Confirmación de Pago</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <h4>Detalles de Envío</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p class="p1">Calle<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p class="p1">Número<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p class="p1">Piso/Depto.</p>
                                <input type="text">
                            </div>
                            <div class="checkout__input">
                                <p class="p1">Ciudad<span>*</span></p>
                                <input type="text"  class="checkout__input__add">
                            </div>
                            <div class="checkout__input">
                                <p class="p1">Detalles de Referencia<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p class="p1">Teléfono<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p class="p1">Celular<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input__checkbox">
                                <label for="diff-acc">
                                    Enviar a una dirección diferente
                                    <input type="checkbox" id="diff-acc">
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="checkout__input">
                                <p class="p1">Notas de la orden<span>*</span></p>
                                <input type="text"
                                    placeholder="Notes about your order, e.g. special notes for delivery.">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>Tu Pedido</h4>
                                <div class="checkout__order__products">Productos <span>Total</span></div>
                                <ul>
                                    <li>Aleve PM (Bayer) <span>$75.99</span></li>
                                    <li>Quimi-Anestil (Quimifar) <span>$151.99</span></li>
                                    <li>Diclo-k (Diclofenaco Potasico) <span>$53.99</span></li>
                                </ul>
                                <div class="checkout__order__subtotal">Subtotal <span>$750.99</span></div>
                                <div class="checkout__order__total">Total <span>$750.99</span></div>
                                <p class="p1">Método de Pago</p>

                                        <div class="checkout__input__checkbox">
                                        <div id="paypal-button-container"></div></div>
                                        
                                        <script src="https://www.paypal.com/sdk/js?client-id=AUa334wq1DxbXIy866G-Gv7goUbLhvwA12j-_bi8Pxuw0KcKNde6IMjDyYHcUGzWtol7IKyW53DlzUEf"></script>
                                        <script>paypal.Buttons().render('#paypal-button-container');</script>

                                <button type="submit" class="site-btn">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Checkout Section End -->
    <!--cliente id
    AUa334wq1DxbXIy866G-Gv7goUbLhvwA12j-_bi8Pxuw0KcKNde6IMjDyYHcUGzWtol7IKyW53DlzUEf

    correo: sb-tcvfb258422@personal.example.com
    Contraseña generada por el sistema: ID_23h-A


    cuenta para pagar en la pagina 
    correo electrónico: sb-mrjzl218965@business.example.com
    Contraseña generada por el sistema: rhEge8$2
-->
