
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/pills.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Compras </h2>
                    <div class="breadcrumb__option">
                        <a href="Farmacia">Farmacia</a>
                        <span>Carrito de Compras </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th class="shoping__product">Products</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="img/cart/carrito1.jpg" alt="">
                                    <h5>Sertralina (Genfar)</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    $10.32
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    $20.64
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="img/cart/carrito2.jpg" alt="">
                                    <h5>Duloxetina (MK)</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    $15.34
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    $15.34
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                            <tr>
                                <td class="shoping__cart__item">
                                    <img src="img/cart/carrito3.jpg" alt="">
                                    <h5>Zentius (Citalopram)</h5>
                                </td>
                                <td class="shoping__cart__price">
                                    $66.75
                                </td>
                                <td class="shoping__cart__quantity">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <input type="text" value="1">
                                        </div>
                                    </div>
                                </td>
                                <td class="shoping__cart__total">
                                    $133.50
                                </td>
                                <td class="shoping__cart__item__close">
                                    <span class="icon_close"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="Catalogo" class="primary-btn cart-btn">CONTINUAR COMPRANDO</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                        Actualizar Carrito</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Código de Descuento</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">Aplicar</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Resumen del Pedido</h5>
                    <ul>
                        <li>Cantidad de Productos  <span>3</span></li>
                        <li>Subtotal <span>$159.00</span></li>
                        <li>ITBMS <span>$10.48</span></li>
                        <li>Descuento <span>- $00.00</span></li>
                        <li>Total <span>$169.48</span></li>
                    </ul>
                    <a href="Checkout" class="primary-btn">TRAMITAR PEDIDO</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->