<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Contáctanos</h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Inicio</a>
                        <span>Contacto</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Teléfono</h4>
                    <p>+507 234-9054</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Dirección</h4>
                    <p>Edificio Omnicare, San Francisco, Ciudad de Panamá</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>Email</h4>
                    <p>hello@omnicare.com</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->

<!-- Map Begin -->
<div class="map">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31526.526446271608!2d-79.52432711019655!3d8.98909052584656!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca90474ff80a7%3A0xb8f04603d5b6abd5!2sSan%20Francisco%2C%20Panam%C3%A1%2C%20Panama%20City!5e0!3m2!1sen!2spa!4v1592702166748!5m2!1sen!2spa"
        height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>San Francisco</h4>
            <ul>
                <li>+507 234-9054</li>
                <li>Edificio Omnicare, San Francisco, Ciudad de Panamá</li>
            </ul>
        </div>
    </div>
</div>
<!-- Map End -->

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Déjanos tu mensaje</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Tu nombre completo">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Tu dirección de email">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Tu mensaje"></textarea>
                    <button type="submit" class="site-btn">Enviar mensaje</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Contact Form End -->