<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero__item set-bg" data-setbg="../img/hero/banner.jpg">
                    <div class="hero__text">
                        <h2>Bienvenidos al futuro de <br />la farmacia.</h2>
                        <p class="p1">Omnicare. Estamos aquí para servirte.</p>
                        <a href="Catalogo" class="primary-btn">Catálogo</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            <div class="categories__slider owl-carousel">
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../img/productos-catalogo/anestesico.anesket-ketamina.jpg">
                        <h5><a href="Catalogo">Anestésicos</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../img/productos-catalogo/analgesico.aspirina-acido-acetilsalicilico.jpg">
                        <h5><a href="Catalogo">Analgésicos</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../img/productos-catalogo/antiacido.alka-seltzer-extreme.jpg">
                        <h5><a href="Catalogo">Antiacidos</a></h5>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="categories__item set-bg" data-setbg="../img/productos-catalogo/antibiotico.colmesdant-colistina.jpg">
                        <h5><a href="Catalogo">Antibioticos</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->



<!-- Latest Product Section Begin -->
<section class="latest-product spad">

</section>
<!-- Latest Product Section End -->