<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__about__logo">
                        <a href="./index.html"><img src="/img/logo.png" alt=""></a>
                    </div>
                    <div class="footer__widget">
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <ul>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Farmacia virtual</a></li>
                        <li><a href="#">Nuestros partners</a></li>
                        <li><a href="#">Información de delivery</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Recibe noticias y ofertas</h6>
                    <p class="p1">¡Únete a nuestro newsletter y recibe en tu correo ofertas exclusivas!</p>
                    <form action="#">
                        <input type="text" placeholder="Tu email">
                        <button type="submit" class="site-btn">Subscribir</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__copyright">
                    <div class="footer__copyright__text">
                        <p class="p1">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Todos los derechos reservados |
                            Omnicare, S.A.</p>
                    </div>
                    <div class="footer__copyright__payment"><img src="/img/payment-item.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->