<div class="login-box">
    <!-- <div class="login-logo">
      <img src="../../dist/img/logo.png">
    </div> -->
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo">
          <img src="img/logo.png" width="200px">
        </div>
        <p class="login-box-msg">Inicia sesión para disfrutar de Omnicare</p>
  
        <form action="../../index3.html" method="post">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Contraseña">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8 ">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Recordar mis datos
                </label>
              </div>
            </div>
            
            <!-- /.col -->
            
            <!-- /.col -->
          </div>
          <div class="row">
            <div class="col-12 mt-3 mb-3">
              <a href="../paciente-doctor/paciente.html" class="btn btn-primary btn-block">Iniciar Sesión</a>
            </div>
          </div>
        </form>
  
        <!-- <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
        </div> -->
        <!-- /.social-auth-links -->
  
        <p class="mb-1">
          <a href="forgot-password.html">Olvidé mi contraseña</a>
        </p>
        <p class="mb-0">
          <a href="Registro" class="text-center">Crear una nueva cuenta</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->