 <!-- Favicons -->
 <link rel="apple-touch-icon" sizes="180x180" href="../img/favicon/apple-touch-icon.png">
 <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon/favicon-32x32.png">
 <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon/favicon-16x16.png">
 <link rel="manifest" href="../img/favicon/site.webmanifest">

 <!-- Font Awesome -->
 <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
 <!-- Ionicons -->
 <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
 <!-- icheck bootstrap -->
 <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
 <!-- Theme style -->
 <link rel="stylesheet" href="../css/paciente-doctor-css/adminlte.min.css">
 <!-- Google Font: Source Sans Pro -->
 <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

 <body class="hold-transition login-page" style="background-image: url(../img/login2.jpg); background-size: cover;"></body>

<style>
    .btn{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        color:white !important;
    }

</style>

<div class="login-box">
    <!-- <div class="login-logo">
      <img src="../../dist/img/logo.png">
    </div> -->
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <div class="login-logo">
          <img src="img/logo.png" width="200px">
        </div>
        <p class="login-box-msg">Seleccione el tipo de usuario</p>
        
        <a href="Perfil-Paciente" type="button" class="btn btn-info btn-lg">Paciente</a>
        <a href="Login-doctor" type="button" class="btn btn-danger btn-lg">Doctor</a>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

  <!-- jQuery -->
<script src="../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../js/paciente-doctor-js/adminlte.min.js"></script>